<div id="navbar">

    <div id="header">
        <img src="../../assets/images/logo.svg"/>
        <h2>
            Pomo & Co
        </h2>
    </div>

    <div id="nav-item">
        <div>
            <button mat-raised-button color="primary" style="color: aliceblue;" class="sidenav-item">
                    <mat-icon class="material-icons-outlined">
                        home
                    </mat-icon>
                    Home
            </button>
        </div>
        <div>
            <button mat-button class="sidenav-item">
                <mat-icon class="material-icons-outlined">
                    subject
                </mat-icon> Orders
            </button>
        </div>
        <div>
            <button mat-button class="sidenav-item">
                <mat-icon class="material-icons-outlined">
                    mail_outline
                </mat-icon>
                Notification
                <span style="padding-left: 5rem;">
                    <span id="notification-icon" color="primary">2</span> 
                </span>
            </button>
        </div>
        <div>
            <button mat-button  class="sidenav-item">
                <mat-icon class="material-icons-outlined">
                    help_outline
                </mat-icon>
                Help & Support
            </button>
        </div>
        <div>
            <button mat-button  class="sidenav-item">
                <mat-icon class="material-icons-outlined">
                    settings
                </mat-icon>
                Settings
            </button>
        </div>
    </div>

    <mat-card class="card">
        <div style="text-align: right;">
            <mat-icon class="material-icons-outlined">
                close
            </mat-icon>
        </div>
        <div id="clock-icon">
            <img src="../../assets/images/clock.svg" alt="">
        </div>
        <h3 style="text-align: center; margin-top: 1rem;">
            Your Order is now Ready
        </h3>
        <p style="margin-top: 1.5rem; text-align: center;">
            Splint Doumo
            <br>
            Order Id: #ED564F
        </p>
        <button mat-raised-button color="primary" id="order-button">
            Details
            <mat-icon id="order-button-icon" class="material-icons-outlined">
                east
            </mat-icon>
        </button>

    </mat-card>
    <mat-card style="width: 65%;margin: 0px 11.5%;border-radius: 0 0 20px 20px;z-index: -1;margin-top: -17px;"></mat-card>
    <mat-card style="width: 50%;margin: 0px 19%;border-radius: 0 0 20px 20px;z-index: -2;margin-top: -17px;"></mat-card>

    <div class="footer">
        <div>
            <h3 style="margin: 0;">Mark Clarke</h3>
            <p>markclarke@gmail.com</p>
        </div>
        <div>
            <mat-icon id="order-button-icon" class="material-icons-outlined">
                unfold_more
            </mat-icon>
        </div>
    </div>
</div>
