#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.navbar-button{
    height: 48px;
    min-width: 48px;
    padding: 0 0;
    border-radius: 10px;
}

#right-item{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.dummy{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dummy > div{
    display: flex; 
    align-items: center; 
}

#search{
    background: url(../../../assets/images/search.svg) no-repeat 12px 12px;
    padding: 14px;
    padding-left: 30px;
    width: 320px;
    border-radius: 10px;
    border: 0px;
    background-color: rgb(247, 247, 247);
    margin-left: 1rem;
    margin-right: 1rem;
}

h2{
    margin: 1rem 0rem;
    font-size: 24px;
}

.category-header{
    margin-top: 3rem;
}

#category{
    display: flex;
    gap: 3rem;
    align-items: center;
}

.cat{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-name{
    align-self: flex-end;
    font-size: 18px;
    font-weight: 500;
    background-color: #fafafa;
    margin-left: .5rem;
}

.category-name.blue-button {
    color: #503e9d;
    background-color: rgba(80, 62, 157, 0.1);
}
#restaurant{
    width:100%;
    margin:0 auto;
    display: grid;
    grid-gap: 2vw;
    grid-template-columns: repeat( auto-fit, minmax(350px,0fr) );
    margin-bottom: 5rem;
}

.restaurant-item {
    text-align: center;
    width: 336px;
}

.restaurant-name{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin: .5rem 0rem;
}

.restaurant-img{
    width: 100%; 
    display: block;
    height: 176px;
    border-radius: 12px;
}

